@media only screen and (max-width: 1200px){
	.section_1 .slider{
		height: 250px;
}
	.section_1 .container_6{
		display: flex;
}
	.section_1 .menu{
		display: inline-block;
		width: 50%;
		margin-left: 50%;
		margin-top: -30px;
}

	.section_1 .menu li{
		display: inline-block;
		text-align: center;
		padding: 12px;
		margin-left: 1%;
		transition: 450ms;
}

	.section_1 .menu li:hover{
		background: #E25050;
}
	.section_1 .menu a{
		text-decoration:none;
		color: white;
		font-size: 15px;
}
	
}
@media only screen and (max-width: 992px){
	.section_1 .menu{
		display: inline-block;
		width: 50%;
		margin-left: 40%;
		margin-top: -30px;
}

}
@media only screen and (max-width: 768px){
}
@media only screen and (max-width: 480px){
}

