body {

	font-family: Roboto;

	font-size: 22px;

	font-weight: 300;

	color: #474747;

	background-color: #fff;

	line-height: 1.5;

}



h1,

h2,

h3,

h4,

h5,

h6 {

	font-family: ClearSans;

	font-weight: 700;

	line-height: 1.2;

	margin: 0;

}



h1 {
	margin-top: -40px;

	font-size: 55px;
	
}



h2 {
	margin-top: -40px;

	font-size: 35px;

}



h3 {

	font-size: 36px;

	font-weight: 500;

}



p {

	margin: 0;

}





/*

COLORS!

*/



.text-white {

	color: #fff;

}



.text-black {

	color: #000;

}



.text-first-color {

	color: #565772;

}



.text-second-color {

	color: #ffb412;

}



.text-third-color {

	color: #6a6d74;

}



.text-forth-color {

	color: #2c374c;

}



.text-fifth-color {

	color: #5a5b75;

}





/**/



.bg-first-color {

	background-color: #2e313a;

}



.bg-second-color {

	background-color: #ffb412;

}



.btn-call {

	color: #2e313a;

	background-color: #ffb412;

	font-size: 33px;

	font-weight: 500;

	padding: 10px 32px;

	-webkit-box-shadow: 0px 23px 71px 0px rgba(75, 75, 75, 1);

	-moz-box-shadow: 0px 23px 71px 0px rgba(75, 75, 75, 1);

	box-shadow: 0px 23px 71px 0px rgba(75, 75, 75, 1);

}







/**/



.marker-gray {

	position: relative;

	z-index: 1;

	/*	display: inline-block;*/

	background-color: #2e313a;

}



.marker-gray::before {

	position: absolute;

	display: block;

	content: '';

	/*	background-color: #2e313a;*/

	top: 0;

	left: 0;

	right: 0;

	bottom: 0;

	z-index: 0;

}



.marker-bright {

	background-color: #ffb412;

}





/*



*/



.padding-extra-small {

	padding-top: 14px;

	padding-bottom: 14px;

}



.padding-top-extra-small {
	padding-top: 30px;
}



.padding-small {

	padding-top: 46px;

	padding-bottom: 46px;

}



.padding-top-small {

	padding-top: 70px;

}



.padding-bottom-small {

	padding-bottom: 15px;

}



.padding-medium {

	padding-top: 60px;

	padding-bottom: 60px;

}



.padding-top-medium {

	padding-top: 60px;

}



.padding-large {

	padding-top: 100px;

	padding-bottom: 100px;

}



.padding-top-large {

	padding-top: 100px;

}



.padding-bottom-large {

	padding-bottom: 100px;

}



.padding-extra-large {

	padding-top: 120px;

	padding-bottom: 120px;

}



.padding-top-extra-large {

	padding-top: 180px;

}



.padding-double-extra-large {

	padding-top: 140px;

	padding-bottom: 140px;

}



kerin-extra-small {

	margin-top: 14px;

	margin-bottom: 14px;

}



.margin-top-small {

	margin-top: 46px;

}



.margin-bottom-small {

	margin-bottom: 46px;

}



.margin-small {

	margin-top: 46px;

	margin-bottom: 46px;

}



.margin-top-medium {

	margin-top: 15px;

}

.margin-top-medium_1 {

	margin-top: 110px;

}

.margin-top-medium_2 {

	margin-top: 136px;

}

.margin-top-medium_3 {

	margin-top: 136px;

}

.margin-top-medium_1_1 {

	font-size: 25px;

	margin-left: 60px;

	margin-top: 80px;

}

.margin-top-medium_1_2 {

	font-size: 25px;

	margin-left: 60px;

	margin-top: 25px;

}


.margin-bottom-medium {

	margin-bottom: 60px;

}





/*



global



*/



.note {

	font-size: 14px;

	color: #6a6d74;

}



section p strong {

	font-size: 30px;

	font-weight: 500;

}



.max-container {

	margin-right: 15px;

	margin-left: 15px;

}



section {

	/*	background-color: aqua;*/

}





/*

home

*/



#home {

	background: url(../images/home-bg.jpg) center center no-repeat;

	background-size: cover;

}



#home p {

	font-size: 20px;

	/*	font-weight: 300;*/

}



#home h2 {

	font-weight: 400;

	/* regular */

}



#home .block {

	padding-left: 65px;

}



#home .tel {

	position: absolute;

	right: 12px;

	top: -150px;

	padding-left: 102px;

	padding-bottom: 20px;

	background: url(../images/phone-icon.png) 15px center no-repeat, #2e313a;
	

}



#home .tel span {

	font-size: 48px;

	font-weight: 500;

}



#home .tel a {

	display: block;

	position: absolute;

	left: 98px;

	bottom: 8px;

	

	color: #fff;

	

	text-transform: uppercase;

	font-size: 14px;

}





/*

bankruptcy

*/



#bankruptcy .subheader {

	font-size: 20px;

}



#bankruptcy .icons {

	text-align: center;

	font-size: 17px;

	/*	font-weight: 300;*/

}



#bankruptcy p strong {

	font-size: 17px;

	font-weight: 500;

}



#bankruptcy .icon {

	width: 100%;

	height: 345px;

	background-size: contain;

	background-position: center center;

	background-repeat: no-repeat;

}



#bankruptcy .block {

	padding-left: 65px;

}



#bankruptcy .block::after {

	position: absolute;

	display: block;

	content: '';

	width: 5px;

	height: 90px;

	background-color: #ffb412;

	left: 0;

	top: 13px;

}





/*

financial-recovery

*/



#financial-recovery {

	background-image: url(../images/financial-recovery-bg.jpg);

	background-size: cover;

	background-position: center center;

	background-repeat: no-repeat;

}



#financial-recovery p {

	line-height: 1.4;

}



#financial-recovery p strong {

	font-size: 30px;

	font-weight: 500;

	line-height: 0.8;

}



#financial-recovery .btn-call {

	-webkit-box-shadow: 0px 23px 71px 0px rgba(75, 75, 75, 0.4);

	-moz-box-shadow: 0px 23px 71px 0px rgba(75, 75, 75, 0.4);

	box-shadow: 0px 23px 71px 0px rgba(75, 75, 75, 0.4);

}





/*

advantages-of-bankruptcy

*/



#advantages-of-bankruptcy {

	font-size: 20px;

}



#advantages-of-bankruptcy .bg:nth-child(2) {

	background-image: url(../images/advantages-of-bankruptcy-bg1.jpg);

	background-size: cover;

	background-position: center center;

	background-repeat: no-repeat;

}



#advantages-of-bankruptcy .bg:nth-child(3) {

	background-image: url(../images/advantages-of-bankruptcy-bg2.jpg);

	background-size: cover;

	background-position: center center;

	background-repeat: no-repeat;

}



#advantages-of-bankruptcy .number {

	position: absolute;

	color: #9c9393;

	font-size: 72px;

	font-weight: 500;

	left: 20px;

	top: 95px;

}



#advantages-of-bankruptcy p {

	padding: 115px 46px 115px 125px;

	line-height: 1.6;

}



#advantages-of-bankruptcy p strong {

	line-height: 1;

}





/*

make-a-call

*/



#make-a-call h2 {

	padding-right: 25px;

}



#make-a-call .note {

	margin: 26px 0 0 0;

}





/*

typical-problems

*/



#typical-problems {

	background: url(../images/typical-problems-bg.jpg) center center no-repeat;

	background-size: cover;

}



#typical-problems p {}



#typical-problems .col-md-6:not(.text-right) p {

	padding: 0 0 0 155px;

	line-height: 1.4;

}



#typical-problems .col-md-6:not(.text-right) p::after {

	position: absolute;

	display: block;

	content: '';

	background-color: #ffb412;

	width: 8px;

	height: 48px;

	top: 6px;

	left: 140px;

}



#typical-problems .col-md-6.text-right p {

	padding: 0 155px 0 0;

}



#typical-problems .col-md-6.text-right p::after {

	position: absolute;

	display: block;

	content: '';

	background-color: #ffb412;

	width: 8px;

	height: 48px;

	top: 6px;

	right: 140px;

}



#typical-problems .row:nth-child(1) {

	padding-bottom: 75px;

}



#typical-problems p strong {

	line-height: 0.8;

}





/*

beginning-of-improvement

*/



#beginning-of-improvement {

	background: url(../images/beginning-of-improvement-bg.jpg) center center no-repeat;

	background-size: cover;

}



#beginning-of-improvement p strong {

	line-height: 0.8;

}



#beginning-of-improvement p:nth-child(2) {

	padding: 26px 0 46px 0;

}



#beginning-of-improvement .btn-call {

	-webkit-box-shadow: 0px 23px 71px 0px rgba(75, 75, 75, 0.4);

	-moz-box-shadow: 0px 23px 71px 0px rgba(75, 75, 75, 0.4);

	box-shadow: 0px 23px 71px 0px rgba(75, 75, 75, 0.4);

}





/*



motivational-slides

*/



#motivational-slides .block {

	padding: 110px 80px;

}



#motivational-slides .col-md-4 {

	background-size: cover;

	background-position: center center;

	background-repeat: no-repeat;

}



#motivational-slides .row {

	display: -webkit-box;

	display: -webkit-flex;

	display: -ms-flexbox;

	display: flex;

	flex-wrap: wrap;

}



#motivational-slides .row>[class*='col-'] {

	display: flex;

	flex-direction: column;

}





/*

#motivational-slides .col-md-4:nth-child(1) .block {

background: url(../images/motivational-slide-1.jpg) center center no-repeat;

background-size: cover;

}



#motivational-slides .col-md-4:nth-child(2) .block {

background: url(../images/motivational-slide-2.jpg) center center no-repeat;

background-size: cover;

}



#motivational-slides .col-md-4:nth-child(3) .block {

background: url(../images/motivational-slide-3.jpg) center center no-repeat;

background-size: cover;

}

*/





/*

scary-collectors

*/



#scary-collectors {

	background: url(../images/scary-collectors-bg.jpg) center center no-repeat;

	background-size: cover;

}





/*

two-ways

*/



#two-ways .block {

	padding: 215px 100px 80px 0;

}



#two-ways .block.number-1 {

	background: url(../images/number-1.png) center 20% no-repeat;

}



#two-ways .block.number-2 {

	background: url(../images/number-2.png) center 20% no-repeat;

	padding-left: 70px;

}



#two-ways p strong {

	line-height: 0.8;

}



#two-ways .bg {

	background: url(../images/two-ways-bg.jpg) center center no-repeat;

	background-size: cover;

}



#two-ways .result {

	/*	font-weight: 500;*/

	padding-left: 150px;

	background: url(../images/result-shield.png) 0 center no-repeat;

}





/*

сontact-our-specialists

*/



#сontact-our-specialists .btn-call {

	margin-top: 46px;

	margin-bottom: 60px;

}



#сontact-our-specialists p:not(.note) {

	font-size: 24px;

}





/*

#сontact-our-specialists p {



}

*/





/*

free-services

*/



#free-services p strong {

	font-size: 22px;

	font-weight: 500;

}



#free-services .icon {

	width: 100%;

	height: 133px;

	background-size: contain;

	background-position: center center;

	background-repeat: no-repeat;

}





/*

services

*/



#services {

	background: url(../images/services-bg.jpg) center center no-repeat;

	background-size: cover;

}



#services .tab-content {

	background-color: #fff;
	height: 505px;

}



#services .nav-tabs>li {

	width: 33.333%;

}



#services .nav-tabs .active a {

	border-top: 4px solid #ffb412;

	background-color: #fff;

	color: #2c374c;

}



#services .nav-tabs a {

	font-size: 30px;

	font-weight: 700;

	background-color: #2e313a;

	color: #fff;

	padding: 30px 50px;

}

#services .tab-content {

	padding-bottom: 64px;

}



#services .tab-content .block {

	background: url(../images/service-check.png) 38px 36px no-repeat;

	/*	padding: 30px 0 80px 80px;*/

	padding: 30px 10px 0px 80px;

	font-size: 18px;

}



.flexbox{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

.box{
	width: 30%;
	border-radius: 5px;
	background-color: #2E313A;
	height: 470px;
	margin-left: 20px;
	margin-top: 60px;
	position: relative;
}

#services div:focus{
	background-color: rgba(46,49,58,0.3);
	color:black;

}

.btn-call_1 {

		position: absolute;

		top: 60%;

		left: center;

		color: #2e313a;

		background-color: #ffb412;

		font-size: 20px;

		font-weight: 500;

		margin-top: 55px;

		margin-left: 25%;

		padding: 10px 14px;

		-webkit-box-shadow: 0px 23px 71px 0px rgba(75, 75, 75, 1);

		-moz-box-shadow: 0px 23px 71px 0px rgba(75, 75, 75, 1);

		box-shadow: 0px 23px 71px 0px rgba(75, 75, 75, 1);
}

 .small {

	font-size: 18px;

	font-weight: 400;

	text-align: center;

	color: white;

	padding: 5px;

	position: relative;

	margin-left: 17%;


}

.text_1{
	font-size: 20px;
	text-align: center;
}

span.dicription{

	position: relative;

	top: 50px;
	
	color: #FFFFFF;

	text-align: justify;
	


}

i.fa{
	position: absolute;
	left: 45%;
	margin-bottom: 20px;
	margin-top: 20px;
}

.flexbox p{
	margin: 5%;
}





/*

our-team

*/



#our-team .thumbs>div {

	/*

border: 1px solid #000;

background-color: brown;

*/

	height: 330px;

	background: url(../images/team-member1.jpg) center center no-repeat;

	background-size: cover;

}



#our-team p {

	font-weight: 500;

}





/*

bankruptcy-procedure

*/



#bankruptcy-procedure .block {

	padding-left: 170px;

	background: url(../images/key-icon.png) 0 center no-repeat;

}





/*

why-we

*/



#why-we .icons .block {

	padding-top: 46px;

}



#why-we .icon {

	width: 100%;

	height: 184px;

	background-size: contain;

	background-position: center center;

	background-repeat: no-repeat;

}



#why-we p {

	padding-top: 36px;

}



#why-we p strong {

	font-size: 22px;

}





/*

bogged-debt

*/



#bogged-debt p strong {

	font-size: 22px;

	font-weight: 500;

}



#bogged-debt p {

	padding-left: 150px;

	padding-right: 150px;

}





/*

Modal feedback

*/



.modal .modal-header {

	padding-top: 30px;

	text-align: center;

	border-bottom: none;

}



.modal .modal-header button {

	position: absolute;

	right: 25px;

	top: 25px;

}



.modal .modal-body {

	padding: 30px 70px 0 70px;

}



.modal .modal-footer {

	border-top: none;

	padding: 0px 70px 60px 70px;

}



.modal input {

	padding: 30px;

	font-size: 16px;

}



.modal .btn-call {

	color: #565772;

	width: 100%;

	-webkit-box-shadow: none;

	-moz-box-shadow: none;

	box-shadow: none;

}



.modal .safe {

	text-align: left;

	font-size: 13px;

	margin-top: 30px;

	padding-left: 60px;

	background: url(../images/modal-safe-icon.png) 0 center no-repeat;

}



.modal p {

  color: #F00;

  display: none;

}





/*

Responsive

*/





/*

00000000media screen and (min-width: 1200px) {

	#services .nav-tabs a {

		font-size: 30px;

	}

}

*/



@media screen and (max-width: 992px) {

	#services .nav-tabs a {

		font-size: 14px;

	}

	#services .nav-tabs a span.small {

		font-size: 8px;

	}

	#typical-problems .col-md-6.text-right p {

		padding-bottom: 30px;

	}

	#beginning-of-improvement {

		background-position: right center;

	}
	#home .tel {

	position: relative;


	top: -120px;

	padding-left: 102px;



	padding-bottom: 30px;

	background: url(../images/phone-icon.png) 15px center no-repeat, #2e313a;

}


	#home .tel span{
		
		font-size: 10px;

}

    .padding-top-small{

		padding-top: 45px;

		font-size: 18px;
}

	h1{

		font-size: 28px;
}
	.padding-top-extra-small{

		padding-top:12px;

		font-size: 18px;
}

	#home p{
		font-size: 12px;
	}

	.btn-call {
		color: #2e313a;

		background-color: #ffb412;

		font-size: 20px;

		font-weight: 500;

		padding: 10px 25px;

		-webkit-box-shadow: 0px 23px 71px 0px rgba(75, 75, 75, 1);

		-moz-box-shadow: 0px 23px 71px 0px rgba(75, 75, 75, 1);

		box-shadow: 0px 23px 71px 0px rgba(75, 75, 75, 1);
}

	.flexbox{
	  list-style: none;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  flex-direction: column;
	}

	.box{
		flex: 1;
		order: 1;
		width: 50%;
		border-radius: 5px;
		background-color: #2E313A;
		height: 470px;
		margin-left: 2%;
		margin-top: 60px;
		align-items: justify;
		position: relative;
	}
	

#services div:focus{
	background-color: rgba(46,49,58,0.3);
	color:black;

}

.btn-call_1 {

		position: absolute;

		top: 70%;
		
		color: #2e313a;

		background-color: #ffb412;

		font-size: 20px;

		font-weight: 500;

		margin-left: 25%;

		padding: 10px 14px;

		-webkit-box-shadow: 0px 23px 71px 0px rgba(75, 75, 75, 1);

		-moz-box-shadow: 0px 23px 71px 0px rgba(75, 75, 75, 1);

		box-shadow: 0px 23px 71px 0px rgba(75, 75, 75, 1);
}

 .small {


 	top: 1%;

	font-size: 22px;

	font-weight: 400;

	text-align: center;

	color: white;

	padding: 2%;

	position: relative;


}

.text_1{
	font-size: 20px;
	text-align: center;
}

span.dicription{

	position: relative;

	top: 30px;
	color: #FFFFFF;

	text-align: justify;
	
}

i.fa{
	position: absolute;
	margin-bottom: 20px;
	margin-top: 20px;
}

.flexbox p{
	margin: 2%;
}
}


@media screen and (max-width:888px) {

	

	#services .nav-tabs a {

		font-size: 14px;

	}

	#services .nav-tabs a span.small {

		font-size: 8px;

	}

	#advantages-of-bankruptcy .bg {

		background: none !important;

	}

	#advantages-of-bankruptcy .bg .col-md-6 {

		background-size: auto;

		background-position: center center;

		background-repeat: no-repeat;

	}

	#advantages-of-bankruptcy .bg:nth-child(2) .col-md-6:nth-child(1) {

		background-image: url(../images/advantages-of-bankruptcy-bg1-1.jpg);
	}

	#advantages-of-bankruptcy .bg:nth-child(2) .col-md-6:nth-child(2) {

		background-image: url(../images/advantages-of-bankruptcy-bg1-2.jpg);

	}

	#advantages-of-bankruptcy .bg:nth-child(3) .col-md-6:nth-child(1) {

		background-image: url(../images/advantages-of-bankruptcy-bg2-1.jpg);
	}

	#advantages-of-bankruptcy .bg:nth-child(3) .col-md-6:nth-child(2) {

		background-image: url(../images/advantages-of-bankruptcy-bg2-2.jpg);
	}

	#two-ways .bg {

		background: none !important;

	}

	#two-ways .bg .col-md-6 {

		background-size: contain;

		background-position: center center;

		background-repeat: no-repeat;

	}

	#two-ways .bg .col-md-6:nth-child(1) {

		background-image: url(../images/two-ways-bg1.jpg);

	}

	#two-ways .bg .col-md-6:nth-child(2) {

		background-image: url(../images/two-ways-bg2.jpg);

	}

	#two-ways .block.number-1 {

		padding-left: 70px;

	}

	#home .tel a {

	display: block;

	position: absolute;

	left: 98px;

	bottom: 8px;

	

	color: #fff;

	

	text-transform: uppercase;

	font-size: 10px;

}

	.btn-call {
		color: #2e313a;

		background-color: #ffb412;

		font-size: 16px;

		font-weight: 500;

		padding: 7px 18px;

		-webkit-box-shadow: 0px 23px 71px 0px rgba(75, 75, 75, 1);

		-moz-box-shadow: 0px 23px 71px 0px rgba(75, 75, 75, 1);

		box-shadow: 0px 23px 71px 0px rgba(75, 75, 75, 1);
}
	.flexbox{
	  list-style: none;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  flex-direction: column;
	}

	.box{
		flex: 1;
		order: 1;
		width: 50%;
		border-radius: 5px;
		background-color: #2E313A;
		height: 470px;
		margin-left: 2%;
		margin-top: 60px;
		align-items: justify;
		position: relative;
	}
	

#services div:focus{
	background-color: rgba(46,49,58,0.3);
	color:black;

}

.btn-call_1 {

		position: absolute;

		top: 70%;

		color: #2e313a;

		background-color: #ffb412;

		font-size: 20px;

		font-weight: 500;

		margin-top: 55px;

		margin-left: 20%;

		padding: 10px 14px;

		-webkit-box-shadow: 0px 23px 71px 0px rgba(75, 75, 75, 1);

		-moz-box-shadow: 0px 23px 71px 0px rgba(75, 75, 75, 1);

		box-shadow: 0px 23px 71px 0px rgba(75, 75, 75, 1);
}

 .small {


 	top: 10px;

	font-size: 18px;

	font-weight: 400;

	text-align: center;

	color: white;

	padding: 5px;

	position: relative;

	left: 1%;

}

.text_1{
	font-size: 20px;
	text-align: center;
}

span.dicription{

	position: relative;

	top: 70px;
	color: #FFFFFF;

	text-align: justify;
	
}

i.fa{
	position: absolute;
	left: 43%;
	margin-bottom: 20px;
	margin-top: 20px;
}

.flexbox p{
	margin: 2%;
}
}

@media screen and (max-width: 623px) {
.flexbox{
	  list-style: none;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  flex-direction: column;
	}

	.box{
		flex: 1;
		order: 1;
		width: 50%;
		border-radius: 5px;
		background-color: #2E313A;
		height: 400px;
		margin-left: 2%;
		margin-top: 60px;
		align-items: justify;
		position: relative;
	}
	

#services div:focus{
	background-color: rgba(46,49,58,0.3);
	color:black;

}

.btn-call_1 {

		position: absolute;

		top: 60%;

		left: 2%;

		color: #2e313a;

		background-color: #ffb412;

		font-size: 20px;

		font-weight: 500;

		margin-top: 55px;

		margin-left: 16%;

		padding: 10px 14px;

		-webkit-box-shadow: 0px 23px 71px 0px rgba(75, 75, 75, 1);

		-moz-box-shadow: 0px 23px 71px 0px rgba(75, 75, 75, 1);

		box-shadow: 0px 23px 71px 0px rgba(75, 75, 75, 1);
}

 .small {


 	top: 10px;

	font-size: 14px;

	font-weight: 400;

	text-align: center;

	color: white;

	padding: 5px;

	position: relative;


}

.text_1{
	font-size: 14px;
	text-align: center;
}

span.dicription{

	position: relative;

	top: 50px;
	color: #FFFFFF;

	text-align: justify;
	
}

i.fa{
	position: absolute;
	left: 43%;
	margin-bottom: 20px;
	margin-top: 20px;
}

.flexbox p{
	font-size: 12px;
	position: relative;
	left: -4%;
}
}

@media screen and (max-width: 556px) {
.flexbox{
	  list-style: none;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  flex-direction: column;
	}

	.box{
		flex: 1;
		order: 1;
		width: 50%;
		border-radius: 5px;
		background-color: #2E313A;
		height: 350px;
		margin-left: 2%;
		margin-top: 60px;
		align-items: justify;
		position: relative;
	}
	

#services div:focus{
	background-color: rgba(46,49,58,0.3);
	color:black;

}

.btn-call_1 {

		position: absolute;

		top: 60%;
		

		color: #2e313a;

		background-color: #ffb412;

		font-size: 18px;

		font-weight: 500;

		margin-top: 55px;

		margin-left: 10%;

		padding: 10px 14px;

		-webkit-box-shadow: 0px 23px 71px 0px rgba(75, 75, 75, 1);

		-moz-box-shadow: 0px 23px 71px 0px rgba(75, 75, 75, 1);

		box-shadow: 0px 23px 71px 0px rgba(75, 75, 75, 1);
}

 .small {


 	top: 10px;

	font-size: 10px;

	font-weight: 400;

	text-align: center;

	color: white;

	padding: 5px;

	position: relative;


}

.text_1{
	font-size: 14px;
	text-align: center;
}

span.dicription{

	position: relative;

	top: 50px;
	color: #FFFFFF;

	text-align: justify;
	
}

i.fa{
	position: absolute;
	left: 40%;
	margin-bottom: 20px;
	margin-top: 20px;
}

.flexbox p{
	font-size: 10px;
	position: relative;
	left: -4%;
}
}

@media screen and (max-width: 401px) {
.flexbox{
	  list-style: none;
	  display: flex;
	  align-items: center;
	  justify-content: center;
	  flex-direction: column;
	}

	.box{
		flex: 1;
		order: 1;
		width: 50%;
		border-radius: 5px;
		background-color: #2E313A;
		height: 350px;
		margin-left: 2%;
		margin-top: 60px;
		align-items: justify;
		position: relative;
	}
	

#services div:focus{
	background-color: rgba(46,49,58,0.3);
	color:black;

}

.btn-call_1 {

		position: absolute;

		top: 60%;
		

		color: #2e313a;

		background-color: #ffb412;

		font-size: 14px;

		font-weight: 500;

		margin-top: 55px;

		margin-left: 10%;

		padding: 10px 14px;

		-webkit-box-shadow: 0px 23px 71px 0px rgba(75, 75, 75, 1);

		-moz-box-shadow: 0px 23px 71px 0px rgba(75, 75, 75, 1);

		box-shadow: 0px 23px 71px 0px rgba(75, 75, 75, 1);
}

 .small {


 	top: 10px;

	font-size: 9px;

	font-weight: 400;

	text-align: center;

	color: white;

	padding: 5px;

	position: relative;


}

.text_1{
	font-size: 14px;
	text-align: center;
}

span.dicription{

	position: relative;

	top: 50px;
	color: #FFFFFF;

	text-align: justify;
	
}

i.fa{
	position: absolute;
	left: 40%;
	margin-bottom: 20px;
	margin-top: 20px;
}

.flexbox p{
	font-size: 10px;
	position: relative;
	left: 1%;
}
}

