*{
	padding: 0;
	margin: 0;
}

.wrapper{
	max-width: 1400px;
	min-width: 1250px;
}

.section_1 {
	height: 650px;
	background-color: #FBFBFB;
}

.section_1 .container_1{
	display: flex;
	flex-direction: row;
}

.section_1 .logo{
	width: 100px;
	height: 50px;
	background-color: white;
	margin-top: 30px;
	margin-left: 7%;
}

.section_1 .text_1{
	color: #DE7768;
	font-size: 120%;
	padding: 5px;
	padding-left: 18px;
}

.section_1 .text_2{
	padding-left: 35px;
}

.section_1 .menu{
	display: flex;
	margin-left: 40%;
	margin-top: 55px;
	width: 35%;
}

.section_1 .menu ul {
	 margin: 0;
	 list-style: none;
	 padding: 0;
	 display: flex;
	 justify-content: center;
}

.section_1 .menu li a {
	padding: 10px 10px;
	color: black;
	text-decoration: none;
	text-align: center;
	text-transform:uppercase;
	font-size: 14px;
	transition: 450ms;
	margin-left: 10px;
}

.section_1 .menu li a:focus{
	background-color: #DE7768;
	color: white;
	border-radius: 5px;
}


.section_1 .icon{
	margin-top: 55px;
}

.section_1  .fa{
	margin-left: 10px;
}
.section_1 .container_2{
	display: flex;
	flex-direction: row;
}

.section_1 .foto_1{
	display: flex;
	margin-top: 50px;
	margin-left: 7%;
}

.section_1 .text_3{
	width: 35%;
	margin-top:150px;
	display: flex;
	color: black;
	margin-left: 15%;
	font-size: 35px;
}

.section_1 .text_4{
	width: 45%;
	color: gray;
	font-size: 15px;
	margin-left: 15%;
	margin-top: 10px;
}

.section_1 .container_3 {
	display: flex;
	flex-direction: row;
}

.section_1 .text_5{
	margin-top: 40px;
	margin-left: 10%;
}

.section_1 .text_6{
	margin-top: 38px;
	margin-left: 3%;
}

.section_1 .text_7{
	margin-top: 45px;
	margin-left: 35%;
}